<br>
<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Classroom</h4>
      <form [formGroup]="classroomForm" (ngSubmit)="addClassroom()">
        <div class="form-group input-group">
          <input name="" class="form-control" formControlName="room" placeholder="Classroom" type="text">
        </div>
        <div class="form-group input-group">
          <input name="" class="form-control" formControlName="subject" placeholder="Subject" type="text">
        </div>
        <div class="form-group input-group">
          <input name="" class="form-control" formControlName="building" placeholder="Building" type="text">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Add</button>
        </div>
      </form>
    </article>
  </div>
  <br>
  <div class="card bg-light">
    <article class="card-body">
      <h4 class="card-title mt-3 text-center">Available Classrooms</h4>
      <p-table [value]="classrooms" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr style="text-align: center;">
            <th>Classroom</th>
            <th>Subject</th>
            <th>Building</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-classroom>
          <tr>
            <td>{{classroom.room}}</td>
            <td>{{classroom.subject}}</td>
            <td>{{classroom.building}}</td>
            <td>
              <button pButton pRipple type="button" icon="pi pi-pencil" (click)="showDialog(classroom)"
                class="p-button-rounded p-button-text"></button>
              <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteClassroom(classroom.id)"
                class="p-button-rounded p-button-text"></button>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </article>
  </div>
  <div class="card bg-light">
    <p-dialog [(visible)]="display" [modal]="true" [style]="{width: '40vw'}">
      <ng-template pTemplate="header">
        <h4 class="card-title mt-3 text-center">Edit Classroom</h4>
      </ng-template>
      <form [formGroup]="updateClassroomForm">
        <div class="form-group input-group">
          <input name="" class="form-control" formControlName="room" placeholder="Classroom" type="text">
        </div>
        <div class="form-group input-group">
          <input name="" class="form-control" formControlName="subject" placeholder="Subject" type="text">
        </div>
        <div class="form-group input-group">
          <input name="" class="form-control" formControlName="building" placeholder="Building" type="text">
        </div>
        <div class="form-group">
        </div>
      </form>
      <ng-template pTemplate="footer">
        <button type="submit" (click)="updateClassroom()" class="btn btn-primary btn-block">Update</button>
      </ng-template>
    </p-dialog>
  </div>
</div>
<br><br><br><br>